<!DOCTYPE html>
<html>
<head>
	<title>接口文档自动生成界面</title>
	<meta charset="utf-8">
	<style type="text/css">
		p {text-indent: 1cm}
	</style>
</head>
<body>
	<script src="/public/jquery-2.1.4.min.js"></script>
  	<script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
  	<script src="http://apps.bdimg.com/libs/underscore.js/1.7.0/underscore-min.js"></script>
  	<script src="http://apps.bdimg.com/libs/backbone.js/1.1.2/backbone-min.js"></script>

	<script src="/public/element.js"></script>

	<script type="text/javascript">

		// document.getElementById("myDiv").innerHTML=xmlhttp.responseText;

	</script>
</body>
</html>
